<!DOCTYPE html>
<html>
  <head>
    <meta charset>

    <title></title>
    <meta itemprop="name">
    <meta property="og:title">
    <meta name="twitter:title">

    <meta name="description"/>
    <meta itemprop="description">
    <meta property="og:description">
    <meta name="twitter:description">

    <meta name="keywords"/>

    <meta itemprop="image">
    <meta property="og:image">
    <meta name="twitter:image">

    <meta property="og:locale">

    <link rel="canonical">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="" id="favicon">
    <link rel="stylesheet" href="" id="stylesheet-chrome">
    <link rel="stylesheet" href="" id="stylesheet-md">
    <meta property="og:url">
    <meta name="twitter:url">
  </head>
  <body data-remove-me="value">
    <noscript>You need to enable JavaScript.</noscript>
    <app/>
  </body>
</html>
